<hr class="featurette-divider">
<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-md-offset-3">
        <ul class="list-unstyled text-center">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>

        <ul class="list-inline text-center">
          <li><a href="https://github.com/{{ include.username }}"><span class="badge">github</span></a></li>
          <li><a href="https://twitter.com/{{ include.username }}"><span class="badge">twitter</span></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

</footer>
<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
